h1,h2,h3 {
    text-align: center;
    line-height: 1.4;
    margin-bottom: 10px;
}
.subheading {
    font-size: 32px;
}
.front {
    max-height: calc(var(--full-height-no-nav) - 200px);
    padding: 12px;
}
.logo-front {
    width: 75px;
    height: 75px;
}
.recent-articles-sect {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.recent-articles {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
}
.article {
    cursor: pointer;
    color: black;
    text-decoration: none;
    padding: 24px 24px 12px 24px;
    border-radius: 4px;
    width: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.25em;
    gap: 3px;
    background-color: #fff;
    transition: background-color 0.1s;
}
.article:hover {
    background-color: #f3f3f3;
}
.article img {
    width: 100%;
    height: auto;
}
.article-title,.article-date {
    max-width: 116px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-title {
    color: var(--color-primary);
}
.article-date {
    font-size: 12px;
    font-weight: 400;
}
.front>img {
    cursor: pointer;
}