{% extends 'template.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/pawprint.css">
    <link rel="stylesheet" href="/static/css/index.css">
{% endblock %}
{% block content %}
    <div class="front" {% if title %}onclick="window.location.href='/pawprint/{{ id }}'"{% else %} style="flex-direction: column;"{% endif %}>
        {% if title %}
        <img src="/slides/{{ id }}/slide_0.svg" onclick="window.location.href='/pawprint/{{ id }}'" alt="Front Image (first slide of most recent paper)">
        {% else %}
        <h1 class='no-content-h1'>No content here... yet!</h1>
        <h3 class='no-content-h3'>If you are an administrator of the <i>Paw Print</i>, you can add content <a href="/add">here</a>.</h3>
        {% endif %}
    </div>
    {% if articles %}
        <hr>
        <section class="main-content">
            <section class="recent-articles-sect">
                <h2 class="subheading">Recent Articles</h2>
                <div class="recent-articles">
                    {% for article in articles %}
                        <a class="article" href="/pawprint/{{ article[1] }}">
                            <img src="/slides/{{ article[1] }}/slide_0.svg" alt="Article Thumbnail" draggable="false">
                            <span class="article-title">{{ article[0] }}</span>
                            <span class="article-date">{{ date(article[2]) }}</span>
                        </a>
                    {% endfor %}
                </div>
            </section>
        </section>
    {% endif %}
{% endblock %}